<div>
  <div class="md-center">
    <h2>Bookings</h2>
    <div layout-gt-sm="row" class="filter">
      <md-input-container class="md-block" flex-gt-sm>
        <label>BookingId</label>
        <input required name="bookingId" ng-model="f.bookingId" />
      </md-input-container>
      
      
      <md-input-container class="md-block" flex-gt-sm>
        <label>Precio Mayor a</label>
        <input required name="pricegt" ng-model="f.pricegt" />
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
            <label>Precio Menor a</label>
            <input required name="pricelt" ng-model="f.pricelt" />
          </md-input-container>
      
    </div>
    <table id="booking" class="my style">
      <tr>
        <th>BookingId</th>
        <th>Cliente</th>
        <th>Fecha de Creacion</th>
        <th>Direccion</th>
        <th>Precio</th>
      </tr>
      <tr ng-repeat="data in bookings | filter:f.bookingId | filter:priceGt | filter:priceLt">
        <td>{{ data.bookingId }}</td>
        <td>
          {{ data.tutenUserClient.firstName }}
          {{ data.tutenUserClient.lastName }}
        </td>
        <td>{{ data.bookingTime }}</td>
        <td>{{ data.locationId.streetAddress }}</td>
        <td>{{ data.bookingPrice }}</td>
      </tr>
    </table>
  </div>
</div>
