<form name="projectForm">
  <md-content class="md-padding" layout-xs="column" layout="row">
    <md-card md-theme="default" class="md-center" md-theme-watch>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Login</span>
          <span class="md-subhead">Ingrese usuario y clave</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-input-container class="md-block">
          <label>Email</label>
          <input required md-no-asterisk name="email" ng-model="email" />

          <div ng-messages="projectForm.description.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Password</label>
          <input required md-no-asterisk name="password" ng-model="password" />

          <div ng-messages="projectForm.description.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button md-no-ink class="md-primary" ng-click="functions.login()"
          >Login</md-button
        >
      </md-card-actions>
    </md-card>
  </md-content>
</form>
